*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#showcase h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
#showcase p{
    font-size: 20px;
}

#intuitive-solution{
    background-color: blue;
}
.icons{
    font-size: 70px;
   color: blue ;
}
#drawimage{
    background-image: url(image/bgimg.jfif);
    height: 700px;
}
#drawimage::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.349);
}

.drawimagecont{
    position: absolute;
    padding-top: 150px;
}
#circle{
    top: 10%;
    right: 30px;
}
.plus{
    top: 10%;
    right: 30px;
}
#appdownload #footer{
    position: absolute;
}
#navbar-brand{
    border: none;
}
