*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#icon{
    font-size: 4.5rem;
}
.iphone{
    position:relative;
}

.img{
    position: absolute;
    left: 110px;
}
.video{
    position: absolute;
    left: 125px;
    top:-48px
}


.img1{
    position: absolute;
    left: 110px;
}
.video1{
    position: absolute;
    left: 50x;
    top:5px
}